.parent {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 59;
}

.NavbarP {
  display: flex;
  padding: 2rem 0rem;
  width: 90%;
  margin: auto;
}

.NavbarP > div:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex:2.4;
  padding-left: 1.5rem;
}
.NavbarP > div:nth-child(1) > img{
  width: 142px;
  height: 28px;
}



.NavbarP > div:nth-child(2) {
  display: flex;
  flex: 2;
  justify-content: space-between;
  align-items: center;
}

.activePage {
  border-bottom: 3px solid #fd749b;
}

.NavbarP > div:nth-child(3) {
  display: flex;
  flex: 2.5;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1300px) {
  .NavbarP > div:nth-child(3) {
    gap: 0px;
  }
  .sellbitcoin p:nth-child(1) {
    padding-left: 3rem;
  }
  .NavbarP > div:nth-child(2) {
    flex: 3;
  }
}
@media (max-width: 1050px) {
  .NavbarP {
    width: 95%;
  }
  .NavbarP > div:nth-child(1) {
    flex: 2.5;
  }
  .NavbarP > div:nth-child(1) {
    padding-left: 0.5rem;
  }
}
@media (max-width: 950px) {
  .NavbarP > div:nth-child(2) {
    flex: 3.5;
  }
  .NavbarP > div:nth-child(3) {
    gap: 0rem;
    flex: 0.5;
  }
  .NavbarP > div:nth-child(1) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.NavbarP p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  cursor: pointer;
}

@media (max-width: 850px) {
  .NavbarP > div:nth-child(2) > * {
    display: none;
  }
  .NavbarP > div:nth-child(2) > p:nth-child(4) {
    display: block !important;
  }
  .NavbarP > div:nth-child(1) {
    flex: 2 !important;
  }
  .NavbarP > div:nth-child(2) {
    flex: 0 !important;
    text-align: right;
  }
  .NavbarP > div:nth-child(3) {
    padding: 0px 2px;
    flex: 2.5 ;
    gap: 0.2rem;
  }
  .NavbarP p {
    text-align: right;
  }
  .NavbarP > div:nth-child(3) {
    gap: 1rem;
  }
  .NavbarP > div:nth-child(1) > img {
    width: 200px !important;
    height: 54px !important;
  }
  .NavbarP img {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
  }
}

@media (max-width: 700px) {
  .NavbarP > div:nth-child(3) > div:nth-child(1) {
    display: none;
  }
  .NavbarP > div:nth-child(1) {
    flex: 3 !important;
  }
}
@media (max-width: 750px) {
  .NavbarP > div:nth-child(2) {
    flex: 0 !important;
  }
  .NavbarP > div:nth-child(3) {
    flex: 0 !important;
  }
  .NavbarP > div:nth-child(1) > img {
    width: 180px !important;
    height: 60px !important;
  }
  .NavbarP > div:nth-child(3) button {
    width: 127px !important;

  }
}

.resNP {
  display: none;
}
@media (max-width: 500px) {
  .NavbarP {
    display: none;
  }

  .resNP {
    display: block;
    position: fixed;
    z-index: 12;
    background-color: #fff;
    width: 100%;
  }

  .resN {
    display: flex;
    padding: 1.5rem 1rem;
  }

  .resN > div {
    display: flex;
    flex: 1;
  }

  .resN > div:nth-child(2) {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .resN > div:nth-child(2) > img {
    transform: scale(1.2);
  }
}

.offcanvas {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 100%;
  left: 0%;
  z-index: 1176760001;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../Images/Header/Rectangle\ 284.png");
  color: white;
  transition: 1.5s;
  /* position: relative; */
  display: none;
}

.offcanvas > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.offcanvas p {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  cursor: pointer;
}
.cencel {
  position: absolute;
  top: 5rem;
  right: 1rem;
}

@media (max-width: 1300px) {
  .NavbarP {
    gap: 1rem;
  }
  /* .NavbarP div:nth-child(2) {
    flex: 2.5;
  } */
}

@media (max-width: 500px) {
  .offcanvas {
    display: flex !important;
  }
}

/* Droper Configration */
.droper {
  position: relative;
}

.droper > div {
  position: absolute;
  top: 100%;
  right: -50%;
  border: 2px solid red;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.droper img {
  width: 200px !important;
  height: 200px !important;
  position: absolute;
  z-index: 2783672;
}

.droper p {
  position: absolute;
}

.li1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #333333;
}
.li2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #333333;
}

.li1:hover {
  background: linear-gradient(
    178.18deg,
    rgb(253, 116, 155) -13.56%,
    rgb(40, 26, 200) 158.3%
  );
  color: #ffffff !important;
}
.li2:hover {
  background: linear-gradient(
    178.18deg,
    rgb(253, 116, 155) -13.56%,
    rgb(40, 26, 200) 158.3%
  );
  color: #ffffff !important;
}
.poc {
  position: absolute;
  right: -8rem;
  top: 0rem;
  display: none;
}

.sellbitcoin {
  position: relative;
}
.sellbitcoin:hover .poc {
  display: block !important;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .poc {
    width: 20vw;
  }
}
