.P1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  padding: 1rem 0px 7rem 0px;
}

.P1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.P1 button {
  padding: 1rem !important;
  border-radius: 100% !important;
  box-shadow: 0px 0px 2px white !important;
  border: 1px solid #e0e0e0 !important;
}

@media (max-width: 500px) {
  .P1 > div {
    gap: 0rem;
  }

  .P1 {
    padding: 0rem 0px 3rem 0px;
  }

  .P1 button {
    transform: scale(0.7);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
  }
}
