.Allparent {
  background-image: url("../../Images/Header/Rectangle\ 284.png");
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0rem;
}

.parent {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  position: relative;
}
.parent > div:nth-child(1) {
  gap: 1rem;
}
.parent > div {
  flex: 1;
  color: white;
  padding: 4rem 2rem;
}
.parent > div:nth-child(1) {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: "right";
  text-align: left;
}
.parent > div span {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: 0px;
}

.parent > div:nth-child(1) > * {
  padding-left: 5rem;
}

.parent > div:nth-child(1) > button:nth-child(3) {
  width: 11rem;
  padding: 1rem 0rem !important;
  margin-left: 5rem;
}

.parent > div:nth-child(1) > p:nth-child(1) {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: 0px;
}
.parent > div:nth-child(1) > div {
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  padding: 1rem 0rem !important;
  border-radius: 100px;
  margin-left: 5rem;
  margin-top: 2rem;
}
.parent > div:nth-child(1) > div > p {
  background: linear-gradient(
    178.18deg,
    #fd749b -13.56%,
    #281ac8 158.3%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  margin: auto;
  font-size: 14px !important;
  font-weight: 600 !important;
  font-family: "Poppins";
}

.wel {
  background: linear-gradient(
    178.18deg,
    #fd749b -13.56%,
    #281ac8 158.3%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins";
}
.parent > div:nth-child(1) > p:nth-child(2) {
  font-family: "Open San";
  font-size: 17px;
  line-height: 27px;
}
.Allparent > div:nth-child(2) img {
  position: absolute;
  bottom: -2rem;
  left: 0%;
}

@media (max-width: 950px) {
  .parent > div {
    padding: 2rem 0px;
  }
  .parent > div:nth-child(2) > img {
    width: 100%;
  }

  .parent > div:nth-child(1) > * {
    padding-left: 2rem;
  }
  .parent > div:nth-child(1) > p:nth-child(1) {
    font-size: 32px;
    line-height: 50px;
  }
  .parent > div span {
    font-size: 32px;
    line-height: 50px;
  }
  .parent > div:nth-child(1) > div {
    margin-left: 2rem;
    margin-top: 1rem;
  }
}
@media (max-width: 800px) {
  .parent > div:nth-child(1) > p:nth-child(1) {
    font-size: 28px;
    line-height: 45px;
  }
  .parent > div span {
    font-size: 28px;
    line-height: 45px;
  }
  .parent > div:nth-child(1) > div {
    margin: auto;
  }
}

@media (max-width: 650px) {
  .parent {
    flex-direction: column;
  }
  .parent > div {
    text-align: center !important;
    padding: 2rem 0px;
    margin: 0% !important;
  }
  .parent > div:nth-child(1) > * {
    padding-left: 0rem;
  }

  .Allparent {
    padding-top: 8rem ;
  }
  .parent > div:nth-child(1) {
    padding: 2rem 0px;
  }
  .parent > div:nth-child(1) > p:nth-child(1) {
    font-size: 26px;
    line-height: 50px;
  }
  .parent > div span {
    font-size: 26px;
    line-height: 50px;
  }
  .Allparent > div:nth-child(2) img {
    position: absolute;
    bottom: -1rem;
    left: 0%;
  }
}

/* Next Section */
.headerBottomSideP {
  display: flex;
  margin-top: 2rem;
}

.headerBottomSideP > div {
  flex: 1;
}

.headerBottomSideP > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.headerBottomSideP > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  position: relative;
}
.headerBottomSideP > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBottomSideP > div:nth-child(2) > div > img:nth-child(1) {
  width: 60%;
}
.headerBottomSideP > div:nth-child(2) > div > img:nth-child(2) {
  width: 5%;
  position: relative;
  bottom: 1.5rem;
  left: 0.5rem;
}
.headerBottomSideP > div:nth-child(2) > p:nth-child(2) {
  font-family: " Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  padding-right: 2rem;
}

.headerBottomSideP > div:nth-child(2) > button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 650px) {
  .headerBottomSideP {
    flex-direction: column;
  }
  .headerBottomSideP > div {
    padding: 2rem 1rem;
  }
  .headerBottomSideP > div:nth-child(2) * {
    text-align: center !important;
    margin: auto;
  }
  .headerBottomSideP > div:nth-child(2) > p {
    padding: 0rem 0rem !important;
  }
}
