.Allparent {
  background-image: url("../../Images/Header/Rectangle\ 284.png");
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10rem;
}

.parent {
  width:85%;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  position: relative;
  margin:auto;
}

@media (max-width: 1050px) {
  .parent{
    width: 90%;
  }

}
.parent > div:nth-child(1) {
  gap: 1rem;
}
.parent > div {
  flex: 1;
  color: white;
  padding: 4rem 2rem;
}
.parent > div:nth-child(1) {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: "right";
  text-align: left;
}
.parent > div span {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
}

.parent > div:nth-child(1) > * {
  padding-left: 3rem;
}

.parent > div:nth-child(1) > p:nth-child(1) {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}

.parent > div:nth-child(1) > p:nth-child(3) {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.Allparent > div:nth-child(2) img {
  position: absolute;
  bottom: -2rem;
  left: 0%;
}

@media (min-width: 1450px) {
  .Allparent > div:nth-child(2) img {
    bottom: -3rem;
    width: 100vw;
  }

  .Allparent {
    padding: 10rem 0px;
  }
}
@media (max-width: 950px) {
  .parent > div {
    padding: 2rem 0px;
  }
  .parent > div:nth-child(2) > img {
    width: 100%;
  }

  .parent > div:nth-child(1) > * {
    padding-left: 2rem;
  }
  .parent > div:nth-child(1) > p:nth-child(2) {
    font-size: 32px;
    line-height: 50px;
  }
  .parent > div span {
    font-size: 32px;
    line-height: 50px;
  }
}
@media (max-width: 800px) {
  .parent > div:nth-child(1) > p:nth-child(2) {
    font-size: 28px;
    line-height: 45px;
  }
  .parent > div span {
    font-size: 28px;
    line-height: 45px;
  }
}

@media (max-width: 650px) {
  .parent {
    flex-direction: column;
    padding: 3rem 0px;
    width: 97%;
  }
  .parent > div {
    text-align: center !important;
    padding: 2rem 0px;
    margin: 0% !important;
  }
  .parent > div:nth-child(1) > * {
    padding-left: 0rem;
  }

  .Allparent {
    padding-top: 6rem;
  }
  .parent > div:nth-child(1) {
    padding: 2rem 0px;
  }
  .parent > div:nth-child(1) > p:nth-child(2) {
    font-size: 36px;
    line-height: 50px;
  }
  .parent > div span {
    font-size: 26px;
    line-height: 50px;
  }
  .Allparent > div:nth-child(2) img {
    position: absolute;
    bottom: -1rem;
    left: 0%;
  }
}

.P2 {
  position: relative;
  z-index: 2;
}


.wel {
  background: linear-gradient(
    178.18deg,
    #fd749b -13.56%,
    #281ac8 158.3%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  font-family: "Poppins";
  text-align: center;
  width: 33%;
  margin: auto;
 
}

@media (max-width: 1200px) {
  .wel {
    padding-top: 3rem;
    width: 50%;
  }
}
@media (max-width: 750px) {
  .wel {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .wel {
    width: 85%;
  }
}
.P2 > div {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.P2 > div > p:nth-child(3) {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}
.P3 {
  width: 100%;
  padding: 2rem 0px;
}

.P3 > div {
  width: 70%;
  border: 1px solid gray;
  border-color:rgb(134 25 143);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
  padding:3rem 2rem;
}

.P3 > div > img {
  width: 70%;
}
.P3 > div > div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.P3 > div > div:nth-child(2) * {
  background: linear-gradient(
    178.18deg,
    #fd749b -13.56%,
    #281ac8 158.3%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
  font-family: "Poppins";
  text-align: center;
  margin: auto;
}

.P3 > div > p:nth-child(3) {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  width: 55%;
  margin: 1rem 0px;
}

@media (max-width: 1200px) {
  .P3 > div > p:nth-child(3) {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .P3 > div > p:nth-child(3) {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .P3 > div > p:nth-child(3) {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .P3 > div {
    width: 95%;
    padding: 3rem 0.5rem;
  }
  .P3 > div > img {
    width: 95%;
  }
}
