.P1 > div:nth-child(1) * {
  background: linear-gradient(
    178.18deg,
    #fd749b -13.56%,
    #281ac8 158.3%
  ) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
  margin: auto;
}

.P1 > div:nth-child(1) > p {

  padding-top: 4rem;
}
.P1 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.CardP {
  position: relative;
  padding: 2rem 0rem;
}

.tree {
  position: absolute;
  left: 49%;
  top: 5%;
  z-index: 2;
  height: 100%;
}
.CardP > :nth-child(odd) {
  display: flex;
  flex-direction: row;
}

.CardP > :nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.CardP > div > div {
  flex: 1;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 700px) {
  .CardP > div > div {
    padding: 0.5rem 2rem;
  }
  .tree {
    left: 48%;
  }
}

.CardP > div > div > p:nth-child(1) {
  background: linear-gradient(
    178.18deg,
    #fd749b -13.56%,
    #281ac8 158.3%
  ) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.CardP > div > div > p:nth-child(2) {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: right;
  width: 65%;
}

.CardP > :nth-child(odd) div > p {
  text-align: right !important;
  margin-left: 35%;
}

@media (max-width: 1000px) {
  .CardP > div > div > p:nth-child(2) {
    width: 80%;
  }
  .CardP > :nth-child(odd) div > p {
    margin-left: 20%;
  }
}
@media (max-width: 750px) {
  .CardP > div > div > p:nth-child(2) {
    width: 95%;
  }
  .CardP > :nth-child(odd) div > p {
    margin-left: 5%;
  }
}

.CardP > :nth-child(even) div > p {
  text-align: left !important;
}

@media (max-width: 500px) {
  .CardP > div > div {
    padding: 0.5rem 0.5rem;
  }
  .tree {
    display: none !important;
  }

  .CardP > div > div:nth-child(2) {
    flex: 0;
  }
  .CardP {
    padding: 0.5rem 0px;
  }
}

.P2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 5;
  padding: 8rem 1rem 2rem 1rem;
  gap: 4rem;
}

.P2 > div * {
  background: linear-gradient(
    178.18deg,
    #fd749b -13.56%,
    #281ac8 158.3%
  ) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: right;
  margin: auto;
}
.P2 > p:nth-child(2) {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  width: 37%;
  margin: auto;
}
@media (max-width: 1000px) {
  .P2 > p:nth-child(2) {
    width: 70%;
  }
}


@media (max-width: 500px) {
  .P2 > div * {
    font-size: 24px !important;
    font-weight: 400;
    line-height: 45px;
  }
  .P2 > p:nth-child(2) {
    width: 95%;
  }
  .P2 > div * {
    font-size: 18px;
  }
  .P2 > p:nth-child(2) {
    font-size: 14px;
  }
}

.CardInTeam {
  display: flex !important;
  padding: 3rem 0px;
}

.CardInTeam > div {
  flex: 1;
  width: 17vw !important;
  height: 17vw !important;
  background: #c4c4c4 !important;
  border-radius: 14px;
  box-shadow: 0px 0px 1px white;
  position: relative;
}
.CardInTeam :nth-child(even) {
  transform: scale(1.2);
  z-index: 2;
}
.CardInTeam div:nth-child(3) {
  transform: scale(1.4);
  background: linear-gradient(
    178.18deg,
    #fd749b -13.56%,
    #281ac8 158.3%
  ) !important;
  z-index: 4;
  opacity: 0.7;
}

@media (max-width: 550px) {
  .CardInTeam {
    padding: 1.5rem 0px;
  }
}
